DirectEve/Service References/LicenseServer/LicenseV11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://license.thehackerwithin.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49772/LicenseV1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Startup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenseKey" type="ser:guid" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="challenge" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://license.thehackerwithin.com" minOccurs="0" name="StartupResult" nillable="true" type="q1:StartupResponseV1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="StartupResponseV1">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveInstances" type="xs:int" />
      <xs:element minOccurs="0" name="Challenge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstanceId" type="ser:guid" />
      <xs:element minOccurs="0" name="LicenseKey" type="ser:guid" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportInstances" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q2="http://license.thehackerwithin.com" name="StartupResponseV1" nillable="true" type="q2:StartupResponseV1" />
  <xs:complexType name="LicenseFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fault" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="http://license.thehackerwithin.com" name="LicenseFault" nillable="true" type="q3:LicenseFault" />
  <xs:element name="KeepAlive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenseKey" type="ser:guid" />
        <xs:element minOccurs="0" name="instanceId" type="ser:guid" />
        <xs:element minOccurs="0" name="challenge" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://license.thehackerwithin.com" minOccurs="0" name="KeepAliveResult" nillable="true" type="q4:UpdateResponseV1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdateResponseV1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Challenge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstanceId" type="ser:guid" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q5="http://license.thehackerwithin.com" name="UpdateResponseV1" nillable="true" type="q5:UpdateResponseV1" />
  <xs:element name="Shutdown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenseKey" type="ser:guid" />
        <xs:element minOccurs="0" name="instanceId" type="ser:guid" />
        <xs:element minOccurs="0" name="challenge" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShutdownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://license.thehackerwithin.com" minOccurs="0" name="ShutdownResult" nillable="true" type="q6:UpdateResponseV1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>